body {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  border: solid 1px black;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin: 0 auto;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.container {
  align-self: stretch;
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
}