body {
  margin: 0;
  padding: 0;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.container {
  align-self: stretch;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
}